package #rootPackage#.dao;

import #rootPackage#.domain.#domain#;
import org.apel.gaia.persist.dao.CommonRepository;

public interface #domain#Repository extends CommonRepository<#domain#, String>{

}
