package #rootPackage#.service;

import #rootPackage#.domain.#domain#;
import org.apel.gaia.infrastructure.BizCommonService;

public interface #domain#Service extends BizCommonService<#domain#,String>{

}